.bp-1 {
  width: 100%;
  max-width: 1400px;
  height: 600px;
  background: url(./laptopgradient.png);
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 30px;
  .bp-1-flex {
    max-width: 1400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

    img {
      width: 650px;
      object-fit: cover;
    }
    .bp-1-content {
      width: 40%;
      min-width: 500px;
      text-align: center;
      h2 {
        font-size: 48px;
        font-weight: 800;
        margin-bottom: 30px;
      }
      p {
        margin-bottom: 20px;
        font-size: 20px;
        font-weight: 500;
      }
      .hero-button {
          padding: 10px 40px;
          width: 156px;
      }
    }
  }
}
