.bp-1 {
  width: 100%;
  max-width: 1400px;
  height: 600px;
  background: url(./laptopgradient.png);
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 6px;
  .bp-1-flex {
    max-width: 1400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

    img {
      width: 600px;
      object-fit: cover;
    }
    .bp-1-content {
      width: 40%;
      min-width: 500px;
      padding: 0 20px;
      h2 {
        font-size: 48px;
        font-weight: 800;
        margin-bottom: 30px;
      }
      p {
        margin-bottom: 20px;
        font-size: 20px;
        font-weight: 500;
      }
      .hero-button {
        padding: 10px 40px;
        width: 156px;
        background-color: #333;
        color: #f1f2f5;
      }
      .hero-button:hover {
        background-color: transparent;
        color: #333;
      }
    }
  }
}

@media screen and (max-width: 1080px) {
  .bp-1 {
    width: 90%;
    margin-top: 18px;
    h2 {
      font-size: 36px !important;
    }
    .bp-1-flex {
      flex-flow: column;
      .bp-1-content {
        text-align: center;
      }
      img {
        width: 500px;
        margin-top: 40px;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .bp-1 {
    .bp-1-content {
      width: 100% !important;
      min-width: unset !important;
      h2 {
        max-width: 100% !important;
        margin: auto;
      }
    }
    img {
      width: 100% !important;
    }
  }
}
