.cartitem {
  width: 100%;
  max-width: 1000px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 5px 12px rgba(0, 0, 0, 0.03);
          box-shadow: 0 5px 12px rgba(0, 0, 0, 0.03);
  border: 1px solid #f1f2f5;
}

.cartitem .cartitem-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1000px;
}

.cartitem .cartitem-flex img {
  width: 200px;
}

.cartitem .cartitem-flex .cartitem-content {
  width: 100%;
  height: 138px;
  background-color: #fff;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-left: 1px solid #f1f2f5;
}

.cartitem .cartitem-flex .cartitem-content h4 {
  margin-bottom: 10px;
}

.cartitem .cartitem-flex .cartitem-content .cartitem-content-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cartitem .cartitem-flex .cartitem-content .cartitem-plusminus-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cartitem .cartitem-flex .cartitem-content .cartitem-plusminus-buttons .minus-button, .cartitem .cartitem-flex .cartitem-content .cartitem-plusminus-buttons .plus-button {
  width: 40px;
  height: 40px;
  font-size: 19px;
  padding: 5px;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  margin: 8px;
}

.cartitem .cartitem-flex .cartitem-content .remove-button {
  padding: 12px 20px;
  background-color: #f10e0e;
  border: 1px solid #f10e0e;
  color: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

.cartitem .cartitem-flex .cartitem-content .remove-button:hover {
  background-color: #d10d0d;
}

@media screen and (max-width: 768px) {
  .cartitem {
    width: 250px;
    height: 100%;
    background-color: #fff;
    margin: 10px;
    padding-bottom: 60px;
  }
  .cartitem img {
    width: 100% !important;
  }
  .cartitem h4 {
    margin: 40px 0 10px 0 !important;
    text-align: center;
  }
  .cartitem h5 {
    margin: 10px 0;
    text-align: center;
  }
  .cartitem .cartitem-plusminus-buttons {
    margin: 0 0 10px 0;
  }
  .cartitem .cartitem-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .cartitem .cartitem-flex .cartitem-content {
    width: 200px !important;
    border-left: none;
  }
  .cartitem .cartitem-flex .cartitem-content .cartitem-content-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .cart-bottom {
    margin-top: 40px;
  }
}

@media screen and (max-width: 620px) {
  .cartitem {
    width: 200px;
  }
}

@media screen and (max-width: 520px) {
  .cartitem {
    width: 90vw;
  }
}
/*# sourceMappingURL=CartItem.css.map */