.cartitem {
    width: 100%;
    max-width: 1000px;
    margin-bottom: 20px;
    box-shadow: 0 0 18px 0 rgba(7, 152, 255,  0.2);

    .cartitem-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1000px;
        img {
            width: 200px;
        }
        .cartitem-content {
            width: 100%;
            height: 138px;
            background-color: #fff;
            padding: 20px;
            display: flex;
            flex-flow: column;
            justify-content: center;
            border-left: 1px solid #f1f2f5;
            h4 {
                margin-bottom: 10px;
            }
            .cartitem-content-flex {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            
            .cartitem-plusminus-buttons {
                display: flex;
                align-items: center;
                .minus-button, .plus-button {
                    width: 40px;
                    height: 40px;
                    font-size: 19px;
                    padding: 5px;
                    background-color: #fff;
                    border: 1px solid #d1d1d1;
                    margin: 8px;
                }
                
            }
            .remove-button {
                padding: 12px 20px;
                background-color: #f10e0e;
                border: 1px solid #f10e0e;
                color: #fff;
                transition: all 0.3s ease;
                cursor: pointer;

            }
            .remove-button:hover {
                background-color: #d10d0d;
            }
            
        }
    }
}

@media screen and (max-width: 768px) {
    .cartitem {
        width: 250px;
        height: 100%;
        background-color: #fff;
        margin: 10px;
        padding-bottom: 60px;
        img {
            width: 100% !important;
        }
        h4 {
            margin: 40px 0 10px 0 !important;
            text-align: center;
        }
        h5 {
            margin: 10px 0;
            text-align: center;
        }
        .cartitem-plusminus-buttons {
            margin: 0 0 10px 0;
        }
    .cartitem-flex {
        flex-flow: column;
        .cartitem-content {
            width: 200px !important;
            border-left: none;
        .cartitem-content-flex {
            flex-flow: column;
        }
    }
    }
}
.cart-bottom {
    margin-top: 40px;
}
}

@media screen and (max-width: 620px) {
    .cartitem {
        width: 200px;
    }
}



@media screen and (max-width: 520px) {
    .cartitem {
        width: 90vw;
    }
}