.cart {
  padding: 100px 30px;
  h1 {
    margin-bottom: 20px;
    font-weight: 800;
  }
  h4 {
    font-size: 16px;
  }
  h5 {
    font-size: 16px;
  }
  button {
    font-weight: 700;
    border-radius: 100px;
  }
  .no-items-cart {
    margin-bottom: 20px;
  }
  .cart-bottom {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    .empty-cart-button {
      padding: 12px 20px;
      background-color: #f10e0e;
      border: 1px solid #f10e0e;
      color: #fff;
      transition: all 0.3s ease;
      cursor: pointer;
    }
    .empty-cart-button:hover {
      background-color: #d10d0d;
    }
    .checkout-button {
      padding: 12px 20px;
      background-color: #3f51b5;
      color: #fff;
      border: 1px solid #3f51b5;
      transition: all 0.3s ease;
      margin-left: 10px;
    }
    .checkout-button:hover {
      background-color: #303f9f;
    }
    .subtotal {
      font-size: 24px;
      font-weight: 800;
    }
  } 
}

@media screen and (max-width: 576px) {
  .cart-bottom {
    flex-flow: column;
    justify-content: center;
    align-items: center;
    .subtotal {
      margin-bottom: 20px;
    }
  }
  .cart-buttons {
    display: flex;
    flex-flow: column;
    align-items: center;
    button {
      width: 200px;
    }
    .empty-cart-button {
      margin-bottom: 10px;
    }
    .checkout-button {
      margin-left: 0 !important;
    }
  }
}

@media screen and (max-width: 768px) {
  .cartflex {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
}
