.cartitem {
    width: 100%;
    max-width: 1000px;
    margin-bottom: 20px;
    box-shadow: 0 5px 12px  rgba(0, 0, 0, 0.03);
    border: 1px solid #f1f2f5;
    .cartitem-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1000px;
        img {
            width: 200px;
        }
        .cartitem-content {
            width: 100%;
            height: 138px;
            background-color: #fff;
            padding: 20px;
            display: flex;
            flex-flow: column;
            justify-content: center;
            border-left: 1px solid #f1f2f5;
            h4 {
                margin-bottom: 10px;
            }
            .cartitem-content-flex {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            
            .cartitem-plusminus-buttons {
                display: flex;
                align-items: center;
                .minus-button, .plus-button {
                    width: 40px;
                    height: 40px;
                    font-size: 19px;
                    padding: 5px;
                    background-color: #fff;
                    border: 1px solid #d1d1d1;
                    margin: 8px;
                }
                
            }
            .remove-button {
                padding: 12px 20px;
                background-color: #f10e0e;
                border: 1px solid #f10e0e;
                color: #fff;
                transition: all 0.3s ease;
                cursor: pointer;

            }
            .remove-button:hover {
                background-color: #d10d0d;
            }
            
        }
    }
}