.contact {
  width: 100%;
  padding-bottom: 60px;
}

.contact .contact-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1400px;
  padding: 0 20px;
  margin: auto;
}

.contact .contact-flex .contact-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  margin-right: 15px;
  width: 50%;
}

.contact .contact-flex .contact-left h2 {
  font-size: 28px;
  font-weight: 800;
}

.contact .contact-flex .contact-left p {
  margin: 20px 0;
}

.contact .contact-flex .contact-left h3 {
  font-size: 20px;
  font-weight: 800;
  margin: 20px 0;
}

.contact .contact-flex .contact-left ul li {
  line-height: 2;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .contact-flex .contact-left ul li .MuiSvgIcon-root {
  color: #3f51b5;
  margin-right: 10px;
}

.contact .contact-flex .contact-left h4 {
  font-size: 20px;
  font-weight: 800;
  margin-top: 20px;
}

.contact .contact-flex .contact-left hr {
  margin-top: 20px;
}

.contact .contact-flex .contactform {
  width: 650px;
  margin-left: 15px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 40px 0 rgba(7, 152, 255, 0.2);
          box-shadow: 0 0 40px 0 rgba(7, 152, 255, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  border-radius: 12px;
}

.contact .contact-flex .contactform .contactform-top {
  height: 100px;
  background-color: #3f51b5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.contact .contact-flex .contactform .contactform-top p {
  font-size: 24px;
  font-weight: 800;
  color: #fff;
}

.contact .contact-flex .contactform .contactform-content {
  padding: 30px;
}

.contact .contact-flex .contactform .contactform-content .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.contact .contact-flex .contactform .contactform-content .form-group label {
  margin: 10px 0;
  font-weight: 500;
}

.contact .contact-flex .contactform .contactform-content .form-group .mt0 {
  margin-top: 0;
}

.contact .contact-flex .contactform .contactform-content .form-group input {
  padding: 10px;
  border: 1px solid #d1d1d1;
  outline-color: #3f51b5;
}

.contact .contact-flex .contactform .contactform-content .form-group textarea {
  padding: 10px;
  height: 100px;
  margin-bottom: 20px;
  border: 1px solid #d1d1d1;
  outline-color: #3f51b5;
}

.contact .contact-flex .contactform .contactform-content button {
  width: 100%;
  font-size: 20px;
  background-color: #3f51b5;
  color: #f1f2f5;
  border-color: #3f51b5;
}

.contact .contact-flex .contactform .contactform-content button:hover {
  background-color: transparent;
  color: #333;
}

@media screen and (max-width: 1080px) {
  .contact {
    width: 90%;
    margin: auto;
  }
  .contact-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 !important;
  }
  .contact-flex .contact-left {
    width: 100% !important;
    text-align: center;
    margin: 0 !important;
  }
  .contact-flex .contact-left ul li {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact-flex .contact-left hr {
    width: 62%;
    margin: auto;
  }
  .contact-flex .contactform {
    width: 100% !important;
    margin: 0 !important;
  }
}
/*# sourceMappingURL=Contact.css.map */