footer {
    width: 100%;
    background-color: #eeeeee;
    padding: 60px  0 0 0;
    .footer-newsletter {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        max-width: 1400px;
        margin: auto;
        margin-bottom: 60px;
        h3 {
            font-size: 18px;
            font-weight: 800;
            text-transform: uppercase;
            margin-bottom: 10px;
        }
        p {
            margin-bottom: 30px;
        }
        .form-group {
            display: flex;
            input {
                width: 400px;
                padding: 15px 20px;
                margin-right: 40px;
                border-radius: 100px;
                border: 1px solid #d1d1d1;
                outline: none;
            }
            .hero-button {
                background-color: #3f51b5;
                color: #fff;
                border-color: #3f51b5;
                transition: all 0.3s ease;
            }
            .hero-button:hover {
                background-color: transparent;
                color: #333;
            }
        }
        
    }
    .footer-flex {
        display: flex;
        max-width: 1400px;
        justify-content: center;
        margin: auto;
        .footer-about {
            min-width: 350px !important;
        }
        .footer-item {
            width: 20%;
            padding: 20px 40px;
            .footer-item-padding {
                padding: 20px 0;
            }
            h3 {
                font-size: 18px;
                font-weight: 800;
                text-transform: uppercase;
            }
            p {
                font-size: 14px;
                line-height: 2;
            }
            ul li {
                list-style-type: none;
                line-height: 2;
                a {
                    font-size: 14px;
                    text-decoration: none;
                    color: #333;
                }
            }
        }
    }
    .creditcards {
        width: 100%;
        display: flex;
        justify-content: center;
        max-width: 1400px;
        padding: 40px 0;
        margin: auto;
    }
    .footer-bottom {
        padding: 20px;
        color: #333;
        background-color: #fff;
        .footer-bottom-flex {
          display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        max-width: 1400px;
        padding: 0 30px;
        p {
            font-size: 14px;
            color: gray;
        }
        .footer-bottom-icons {
          display: flex;
          align-items: center;
          a {
        color: gray;
          }
        .MuiSvgIcon-root {
          margin-left: 5px;
          margin-bottom: 0;
        }
      }
    }
}
@media screen and (max-width: 1055px) {
    .footer-flex {
        flex-flow: row wrap;
        justify-content: space-between;
    }
    .footer-item {
        flex: 1 40%;
    }
}
@media screen and (max-width: 769px) {
    .footer-flex {
        flex-flow: column;
        align-items: center;
        .footer-item {
            width: 100%;
            text-align: center;
        }
        .footer-about {
            min-width: unset !important;
        }
    }
}
@media screen and (max-width: 665px) {
    .footer-newsletter {
        padding: 0 20px !important;
        overflow: hidden;
        h3, p {
            text-align: center;
        }
        .form-group {
            flex-flow: column;
            align-items: center;
            
            input {
                width: 90vw;
                margin: auto !important;
            }
            button {
                margin-top: 35px;
            }
        }
    }
}
@media screen and (max-width: 400px) {
    .creditcards {
        img {
            width: 100%;
        }
    }
    .footer-bottom-flex {
        flex-flow: column-reverse;
        .footer-bottom-icons {
            padding-bottom: 10px;
        }
    }
}
}