footer {
  width: 100%;
  background-color: #eeeeee;
  padding: 60px  0 0 0;
}

footer .footer-newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1400px;
  margin: auto;
  margin-bottom: 60px;
}

footer .footer-newsletter h3 {
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 10px;
}

footer .footer-newsletter p {
  margin-bottom: 30px;
}

footer .footer-newsletter .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer-newsletter .form-group input {
  width: 400px;
  padding: 15px 20px;
  margin-right: 40px;
  border-radius: 100px;
  border: 1px solid #d1d1d1;
  outline: none;
}

footer .footer-newsletter .form-group .hero-button {
  background-color: #3f51b5;
  color: #fff;
  border-color: #3f51b5;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

footer .footer-newsletter .form-group .hero-button:hover {
  background-color: transparent;
  color: #333;
}

footer .footer-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1400px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

footer .footer-flex .footer-about {
  min-width: 350px !important;
}

footer .footer-flex .footer-item {
  width: 20%;
  padding: 20px 40px;
}

footer .footer-flex .footer-item .footer-item-padding {
  padding: 20px 0;
}

footer .footer-flex .footer-item h3 {
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
}

footer .footer-flex .footer-item p {
  font-size: 14px;
  line-height: 2;
}

footer .footer-flex .footer-item ul li {
  font-size: 14px;
  list-style-type: none;
  line-height: 2;
  color: #333;
  cursor: pointer;
}

footer .footer-flex .footer-item ul li a {
  font-size: 14px;
  text-decoration: none;
  color: #333;
}

footer .creditcards {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1400px;
  padding: 40px 0;
  margin: auto;
}

footer .footer-bottom {
  padding: 20px;
  color: #333;
  background-color: #fff;
}

footer .footer-bottom .footer-bottom-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  max-width: 1400px;
  padding: 0 30px;
}

footer .footer-bottom .footer-bottom-flex p {
  font-size: 14px;
  color: gray;
}

footer .footer-bottom .footer-bottom-flex .footer-bottom-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-bottom .footer-bottom-flex .footer-bottom-icons a {
  color: gray;
}

footer .footer-bottom .footer-bottom-flex .footer-bottom-icons .MuiSvgIcon-root {
  margin-left: 5px;
  margin-bottom: 0;
}

@media screen and (max-width: 1055px) {
  footer .footer-flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .footer-item {
    -webkit-box-flex: 1;
        -ms-flex: 1 40%;
            flex: 1 40%;
  }
}

@media screen and (max-width: 769px) {
  footer .footer-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .footer-flex .footer-item {
    width: 100%;
    text-align: center;
  }
  footer .footer-flex .footer-about {
    min-width: unset !important;
  }
}

@media screen and (max-width: 665px) {
  footer .footer-newsletter {
    padding: 0 20px !important;
    overflow: hidden;
  }
  footer .footer-newsletter h3, footer .footer-newsletter p {
    text-align: center;
  }
  footer .footer-newsletter .form-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .footer-newsletter .form-group input {
    width: 90vw;
    margin: auto !important;
  }
  footer .footer-newsletter .form-group button {
    margin-top: 35px;
  }
}

@media screen and (max-width: 400px) {
  footer .creditcards img {
    width: 100%;
  }
  footer .footer-bottom-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse;
            flex-flow: column-reverse;
  }
  footer .footer-bottom-flex .footer-bottom-icons {
    padding-bottom: 10px;
  }
}
/*# sourceMappingURL=Footer.css.map */