.hero {
  width: 100%;
  max-width: 1400px;
  height: 600px;
  margin: auto;
  background-color: #eec0c6;
  background-image: linear-gradient(315deg, #eec0c6 0%, #e58c8a 74%);
    overflow: hidden;
    margin-top: 60px;
  h1 {
    font-size: 56px;
    font-weight: 800;
    margin-bottom: 35px;
    
  }
  p {
    margin-bottom: 20px;
    font-size: 20px;
font-weight: 700;
  }

  /*
  .react-parallax-bgimage {
    width: 500px !important;
    left: 400px !important;
    bottom: -25px !important;
  }
  */
  .hero-flex {
    .hero-content {
      display: flex;
      align-items: center;
      margin: auto;
      max-width: 1400px;
      
      img {
        width: 503px;
        margin: auto;
        position: relative;
        bottom: -13px;
      }

      .hero-text {
        width: 500px;
        margin: auto;
      }
    }
  }
}
