.hero {
  width: 100%;
  max-width: 1400px;
  height: 600px;
  margin: auto;
  background: url(./herogradient.png);
  background-size: cover;
  background-position: center;
  overflow: hidden;
  margin-top: 60px;
  h1 {
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 35px;
  }
  p {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 500;
  }

  
  
  .hero-flex {
    display: flex;
      align-items: center;
      margin: auto;
      max-width: 1400px;
      text-align: center;
      

      img {
        width: 503px;
        margin: auto;
        position: relative;
        bottom: -13px;
      }

      .hero-text {
        width: 500px;
        margin: auto;
      }
    }
  
}
