.mobilebanner {
    height: 600px;
    background: url(./mobilegradient3.png);
    background-size: cover;
    background-position: center;
    max-width: 1400px;
    margin: auto;
    margin-bottom: 100px;
    overflow: hidden;
    .mobilebanner-flex {
display: flex;
justify-content: center;
align-items: center;
max-width: 1400px;
height: 600px;
padding: 0 40px 0 100px;
    margin: auto;
    .mobilebanner-content {
        min-width: 350px;
        display: flex;
        flex-flow: column;
        text-align: center;
        align-items: center;
        h2 {
            font-size: 48px;
            font-weight: 800;
            color: #f1f2f5;
            margin-bottom: 20px;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
        }
        p {
            margin-bottom: 30px;
            color: #f1f2f5;
            font-size: 20px;
            font-weight: 700;

        }
        button {
            background-color: #333;
            color: #f1f2f5;
            border-color: #e6e6e6;
            transition: all 0.3s ease;
        }
        button:hover {
            background-color: #e6e6e6;
            color: #333;
        }
    }
    img {
        position: relative;
        width: 750px;
        transform: rotate(1deg);
        right: -40px;
        top: 40px;
    }
    .mobileshow {
        display: none;
    }
    

}
}

@media screen and (max-width: 1080px) {
    .mobilebanner {
        width: 90%;
        h2 {
            width: 650px;
        }
    .mobilebanner-flex {
        flex-flow: column;
        padding: 0;
        img {
            width: 750px;
            margin-right: 80px;
            transform: rotate(7deg);
        }
        .mobileshow {
            display: unset;
        }
        .mobilehide {
            display: none;
        }
    }
}
}

@media screen and (max-width: 768px) {
    .mobilebanner {
        h2 {
            width: 100%;
            font-size: 36px !important;
            padding: 0 20px;
        }
        img {
            width: 100% !important;
        }
    }
}