.mobilebanner {
    height: 600px;
    background: url(./mobilebg.png);
    background-size: cover;
    background-position: center;
    max-width: 1400px;
    margin: auto;
    margin-bottom: 100px;
    overflow: hidden;
    .mobilebanner-flex {
display: flex;
justify-content: center;
align-items: center;
max-width: 1400px;
height: 600px;
padding: 0 20px 0 100px;
    margin: auto;
    .mobilebanner-content {
        width: 100%;
        display: flex;
        flex-flow: column;
        h2 {
            font-size: 56px;
            font-weight: 800;
            color: #f1f2f5;
            margin-bottom: 10px;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
        }
        p {
            margin-bottom: 20px;
            color: #f1f2f5;
            font-size: 20px;
            font-weight: 700;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);

        }
        button {
            max-width: 200px;
            background-color: #333;
            color: #f1f2f5;
        }
    }
    img {
        position: relative;
        width: 650px;
        transform: rotate(1deg);
        
    }
    

}
}