.pdctdetails {
    width: 100%;
    padding-top: 100px;
    background-color: #fff;
    .pdctdetails-flex {
        display: flex;
        justify-content: center;
        max-width: 1400px;
        margin: auto;
        img {
            width: 50%;
            object-fit: cover;
            margin-right: 10px;
        }
        .pdctdetails-content {
            width: 100%;
            margin-left: 10px;
            h1 {
                font-size: 24px;
                font-weight: 800;
                margin-bottom: 20px;
            }
            .stars {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 20px;
                .stars-flex {
                    display: flex;
                    align-items: center;
                }
                p {
                    margin-left: 10px;
                    color: #aaaaaa;
                    font-size: 14px;
                }
                .MuiSvgIcon-root {
                    color: #aaaaaa;
                    font-size: 19px;
                }
                .items-sold {
                    color: #f10e0e;
                    display: flex;
                    align-items: center;
                    .MuiSvgIcon-root {
                        margin-right: 5px;
                        color: #f10e0e;
                    }
                }
            }
            .vendor-info {
                margin-bottom: 20px;
                p {
                    font-size: 14px;
                }
            }
            .pdctdetails-info {
                margin-bottom: 20px;
                .pdct-price {
                    font-size: 24px;
                    font-weight: 800;
                    margin-bottom: 10px;
                }
                .pdct-details {
                    font-size: 14px;
                }
            }
            .pdctdetails-add {
                .add-to-cart {
                    padding: 12px 20px;
                    background-color: #0073e5;
                    color: #fff;
                    border: 1px solid #0073e5;
                    font-weight: 700;
                    border-radius: 100px;
                }
            }
        }
    }
    .product-line {
        padding: 20px 30px;
    .product-line-flex {
        display: flex;
        flex-flow: row nowrap;
        overflow-x: scroll;
        
    }
    .product-line-flex::-webkit-scrollbar {
        display: none;
    }
}
.zoom-img {
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
}
}