.pdctdetails {
  width: 100%;
  padding-top: 100px;
  background-color: #fff;
}

.pdctdetails .pdctdetails-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1400px;
  margin: auto;
}

.pdctdetails .pdctdetails-flex img {
  width: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 10px;
}

.pdctdetails .pdctdetails-flex .pdctdetails-content {
  width: 100%;
  margin-left: 10px;
}

.pdctdetails .pdctdetails-flex .pdctdetails-content h1 {
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 20px;
}

.pdctdetails .pdctdetails-flex .pdctdetails-content .stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.pdctdetails .pdctdetails-flex .pdctdetails-content .stars .stars-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pdctdetails .pdctdetails-flex .pdctdetails-content .stars p {
  margin-left: 10px;
  color: #aaaaaa;
  font-size: 14px;
}

.pdctdetails .pdctdetails-flex .pdctdetails-content .stars .MuiSvgIcon-root {
  color: #aaaaaa;
  font-size: 19px;
}

.pdctdetails .pdctdetails-flex .pdctdetails-content .stars .items-sold {
  color: #f10e0e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pdctdetails .pdctdetails-flex .pdctdetails-content .stars .items-sold .MuiSvgIcon-root {
  margin-right: 5px;
  color: #f10e0e;
}

.pdctdetails .pdctdetails-flex .pdctdetails-content .vendor-info {
  margin-bottom: 20px;
}

.pdctdetails .pdctdetails-flex .pdctdetails-content .vendor-info p {
  font-size: 14px;
}

.pdctdetails .pdctdetails-flex .pdctdetails-content .pdctdetails-info {
  margin-bottom: 20px;
}

.pdctdetails .pdctdetails-flex .pdctdetails-content .pdctdetails-info .pdct-price {
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 10px;
}

.pdctdetails .pdctdetails-flex .pdctdetails-content .pdctdetails-info .pdct-details {
  font-size: 14px;
}

.pdctdetails .pdctdetails-flex .pdctdetails-content .pdctdetails-add .add-to-cart {
  padding: 12px 20px;
  background-color: #0073e5;
  color: #fff;
  border: 1px solid #0073e5;
  font-weight: 700;
  border-radius: 100px;
}

.pdctdetails .product-line {
  padding: 20px 30px;
}

.pdctdetails .product-line .product-line-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  overflow-x: scroll;
}

.pdctdetails .product-line .product-line-flex::-webkit-scrollbar {
  height: 13px;
}

.pdctdetails .zoom-img {
  -webkit-box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
}
/*# sourceMappingURL=ProductDetails.css.map */