.productcard {
    .productcard-body {
        display: flex;
        flex-flow: column;
        justify-content: center;
        height: 100%;
        margin: 10px;
        .productcard-content {
            .pcc-name {
                margin: 12px 0 8px 0;
                font-weight: 700;
                color: #333;
            }
            .pcc-description {
                font-size: 14px;
                margin-bottom: 5px;
                color: #566177;
            }
            .pcc-price {
                margin-bottom: 10px;
                font-size: 17.6px;
                font-weight: 700;
            }
            .stars {
                margin-bottom: 4px;
                color: #f5bd15;
                .MuiSvgIcon-root {
                    font-size: 19px;
                }
            }
            .from {
                font-size: 14px;
                font-weight: 400;
            }
            .hero-button {
                padding: 8px 30px;
            }
        }
    }
}