.pdctdetails {
  width: 100%;
  padding-top: 100px;
  background-color: #fff;
}

.pdctdetails .pdctdetails-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1400px;
  margin: auto;
}

.pdctdetails .pdctdetails-flex img {
  width: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 15px;
}

.pdctdetails .pdctdetails-flex .pdctdetails-content {
  width: 100%;
  margin-left: 15px;
}

.pdctdetails .pdctdetails-flex .pdctdetails-content h1 {
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 20px;
}

.pdctdetails .pdctdetails-flex .pdctdetails-content .stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 20px;
  margin-bottom: 20px;
}

.pdctdetails .pdctdetails-flex .pdctdetails-content .stars .stars-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pdctdetails .pdctdetails-flex .pdctdetails-content .stars p {
  margin-left: 10px;
  color: #aaaaaa;
  font-size: 14px;
}

.pdctdetails .pdctdetails-flex .pdctdetails-content .stars .MuiSvgIcon-root {
  color: #aaaaaa;
  font-size: 19px;
}

.pdctdetails .pdctdetails-flex .pdctdetails-content .stars .items-sold {
  color: #f10e0e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pdctdetails .pdctdetails-flex .pdctdetails-content .stars .items-sold .MuiSvgIcon-root {
  margin-right: 5px;
  color: #f10e0e;
}

.pdctdetails .pdctdetails-flex .pdctdetails-content .vendor-info {
  margin-bottom: 20px;
}

.pdctdetails .pdctdetails-flex .pdctdetails-content .vendor-info p {
  font-size: 14px;
}

.pdctdetails .pdctdetails-flex .pdctdetails-content .pdctdetails-info {
  margin-bottom: 20px;
}

.pdctdetails .pdctdetails-flex .pdctdetails-content .pdctdetails-info .pdct-price {
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 10px;
}

.pdctdetails .pdctdetails-flex .pdctdetails-content .pdctdetails-info .pdct-details {
  font-size: 14px;
}

.pdctdetails .pdctdetails-flex .pdctdetails-content .pdctdetails-add .add-to-cart {
  padding: 12px 20px;
  background-color: #3f51b5;
  color: #fff;
  border: 1px solid #3f51b5;
  font-weight: 700;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 100px;
}

.pdctdetails .pdctdetails-flex .pdctdetails-content .pdctdetails-add .add-to-cart:hover {
  background-color: #303f9f;
}

.pdctdetails .product-line {
  padding: 20px 30px;
}

.pdctdetails .product-line h2 {
  max-width: 1400px;
  margin: auto;
}

.pdctdetails .product-line .product-line-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  overflow-x: scroll;
  padding-top: 24px;
  max-width: 1400px;
  margin: auto;
}

.pdctdetails .product-line .product-line-flex .productcard-body {
  margin-right: 24px;
}

.pdctdetails .product-line .product-line-flex::-webkit-scrollbar {
  height: 13px;
}

.pdctdetails .zoom-img {
  -webkit-box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 425px) {
  .pdctdetails h2 {
    text-align: center;
  }
  .pdctdetails .pdctdetails-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .stars {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
  }
  .stars .items-sold {
    margin-top: 11px;
    padding-right: 0 !important;
    margin-left: 0 !important;
  }
}

@media screen and (max-width: 520px) {
  .pdctdetails .productcard {
    margin-right: 0 !important;
  }
}

@media screen and (max-width: 991px) {
  .pdctdetails-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse;
            flex-flow: column-reverse;
  }
  .pdctdetails-flex .pdctdetails-content {
    margin-left: 0 !important;
    padding: 0 20px;
  }
  .pdctdetails-flex .add-to-cart {
    margin-bottom: 20px;
  }
  .product-line {
    padding: 0 !important;
  }
  .product-line .productcard {
    width: 260px !important;
    margin-right: 24px;
  }
  .product-line .productcard .productcard-body {
    width: 260px !important;
    margin: 0 20px 20px 0 !important;
  }
}
/*# sourceMappingURL=ProductDetails.css.map */