.pdctdetails {
    width: 100%;
    padding-top: 100px;
    background-color: #fff;
    .pdctdetails-flex {
        display: flex;
        justify-content: center;
        max-width: 1400px;
        margin: auto;
        img {
            width: 50%;
            object-fit: cover;
            margin-right: 15px;
        }
        .pdctdetails-content {
            width: 100%;
            margin-left: 15px;
            h1 {
                font-size: 24px;
                font-weight: 800;
                margin-bottom: 20px;
            }
            .stars {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-right: 20px;
                margin-bottom: 20px;
                .stars-flex {
                    display: flex;
                    align-items: center;
                }
                p {
                    margin-left: 10px;
                    color: #aaaaaa;
                    font-size: 14px;
                }
                .MuiSvgIcon-root {
                    color: #aaaaaa;
                    font-size: 19px;
                }
                .items-sold {
                    color: #f10e0e;
                    display: flex;
                    align-items: center;
                    .MuiSvgIcon-root {
                        margin-right: 5px;
                        color: #f10e0e;
                    }
                }
            }
            .vendor-info {
                margin-bottom: 20px;
                p {
                    font-size: 14px;
                }
            }
            .pdctdetails-info {
                margin-bottom: 20px;
                .pdct-price {
                    font-size: 24px;
                    font-weight: 800;
                    margin-bottom: 10px;
                }
                .pdct-details {
                    font-size: 14px;
                }
            }
            .pdctdetails-add {
                .add-to-cart {
                    padding: 12px 20px;
                    background-color: #3f51b5;
                    color: #fff;
                    border: 1px solid #3f51b5;
                    font-weight: 700;
                    transition: all 0.3s ease;
                    border-radius: 100px;
                }
                .add-to-cart:hover {
                    background-color: #303f9f;
                }
            }
        }
    }
    .product-line {
        padding: 20px 30px;
        h2 {
            font-weight: 800;
        }
    .product-line-flex {
        display: flex;
        flex-flow: row nowrap;
        overflow-x: scroll;
        padding-top: 24px;
        max-width: 1400px;
        margin: auto;
        .productcard-body {
            margin-right: 24px;
        }
    }
    .product-line-flex::-webkit-scrollbar {
        height: 13px;

    }
}
.zoom-img {
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
}
.product-line-headericon {
    display: flex;
    flex-flow: column;
    max-width: 1400px;
    align-items: flex-start;
    margin: 20px auto auto auto;
    .MuiSvgIcon-root {
        font-size: 30px;
        margin-top: 10px;
    }
    h2 {
        margin-right: 20px;
    }
}

}

@media screen and (max-width: 425px) {
    .pdctdetails {
        h2 {
            text-align: center;
        }
        .pdctdetails-flex {
            flex-flow: column;
        }
    }
    .stars {
        flex-flow: column;
        justify-content: flex-start !important;
        align-items: flex-start !important;
        .items-sold {
            margin-top: 11px;
            padding-right: 0 !important;
            margin-left: 0 !important;
        }
    }
}

@media screen and (max-width: 520px) {
    .pdctdetails {
        .productcard {
        }
    }
}

@media screen and (max-width: 991px) {
    .pdctdetails-flex {
        flex-flow: column-reverse;
        .pdctdetails-content {
            margin-left: 0 !important;
            padding: 0 20px;
        }
        .add-to-cart {
            margin-bottom: 20px;
        }
    }
    .pdctdetails {
    .product-line {
        padding: 20px !important;
        .productcard {
            width: 260px !important;
            margin-right: 24px;
            
            .productcard-body {
                width: 260px !important;
                margin: 0 20px 20px 0 !important;
            }
        }
    }
}

}