.productcard {
    .productcard-body {
        display: flex;
        flex-flow: column;
        justify-content: center;
        width: 260px;
        height: 100%;
        margin-bottom: 24px;
        background-color: #fff;
        .productcard-overlay {
            padding: 5px 8px;
            font-size: 13px;
            font-weight: 500;
            font-family: 'Roboto', sans-serif;
            color: #111;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 10px;
            left: 10px;
            z-index: 1;
            background-color: #fac8c7;
            
        }
        .img-container {
            width: 100%;
            height: 180px;
            overflow: hidden;
            position: relative;
            transition: all 0.3s ease;
            cursor: pointer;
            
            
        img {
            width: 100%;
            height: 180px;
            transition: all 0.32s ease;
            cursor: pointer;
        }
        img:hover {
            transform: scale(1.1);
        }
    }
    
        .productcard-content {
            padding: 20px;
            .pcc-name {
                margin: 12px 0 8px 0;
                font-weight: 700;
                color: #333;
            }
            .pcc-description {
                font-size: 14px;
                margin-bottom: 5px;
                color: #566177;
            }
            .pcc-price {
                font-size: 19px;
                font-weight: 800;
                border-bottom: 1px solid #d1d1d1;
                padding-bottom: 8px;
                margin-bottom: 4px;
            }
            .productcard-bottom {
                display: flex;
                flex-flow: column;
            }
            .stars {
                margin-bottom: 4px;
                color: #f5bd15;
                .MuiSvgIcon-root {
                    font-size: 19px;
                }
            }
            .from {
                font-size: 14px;
                font-weight: 400;
            }
            .add-to-cart {
                padding: 12px 20px;
                background-color: transparent;
                border: none;
                cursor: pointer;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                color: #333;
                font-weight: 700;
                border: 2px solid #333;
                border-radius: 40px;
                margin-top: 10px;
                transition: all 0.32s ease;
                .MuiSvgIcon-root {
                    font-size: 28px;
                    color: #333;
                }
            }
            .add-to-cart:hover {
                background-color: #333;
                color: #f1f2f5;
            }
        }
    }
    
}