.productcard .productcard-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 260px;
  height: 100%;
  margin-bottom: 24px;
  background-color: #fff;
}

.productcard .productcard-body .productcard-overlay {
  padding: 5px 8px;
  font-size: 13px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  color: #111;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 10px;
  left: 10px;
  z-index: 1;
  background-color: #fac8c7;
}

.productcard .productcard-body .img-container {
  width: 100%;
  height: 180px;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

.productcard .productcard-body .img-container img {
  width: 100%;
  height: 180px;
  -webkit-transition: all 0.32s ease;
  transition: all 0.32s ease;
  cursor: pointer;
  -o-object-fit: cover;
     object-fit: cover;
}

.productcard .productcard-body .img-container img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.productcard .productcard-body .productcard-content {
  padding: 20px;
}

.productcard .productcard-body .productcard-content .pcc-name {
  margin: 12px 0 8px 0;
  font-weight: 700;
  color: #333;
}

.productcard .productcard-body .productcard-content .pcc-description {
  font-size: 14px;
  margin-bottom: 5px;
  color: #566177;
}

.productcard .productcard-body .productcard-content .pcc-price {
  font-size: 19px;
  font-weight: 800;
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 8px;
  margin-bottom: 4px;
}

.productcard .productcard-body .productcard-content .productcard-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.productcard .productcard-body .productcard-content .stars {
  margin-bottom: 4px;
  color: #f5bd15;
}

.productcard .productcard-body .productcard-content .stars .MuiSvgIcon-root {
  font-size: 19px;
}

.productcard .productcard-body .productcard-content .from {
  font-size: 14px;
  font-weight: 400;
}

.productcard .productcard-body .productcard-content .add-to-cart {
  padding: 12px 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #333;
  font-weight: 700;
  border: 2px solid #333;
  border-radius: 40px;
  margin-top: 10px;
  -webkit-transition: all 0.32s ease;
  transition: all 0.32s ease;
}

.productcard .productcard-body .productcard-content .add-to-cart .MuiSvgIcon-root {
  font-size: 28px;
  color: #333;
}

.productcard .productcard-body .productcard-content .add-to-cart:hover {
  background-color: #333;
  color: #f1f2f5;
}

@media screen and (max-width: 860px) {
  .productcard-body {
    width: 280px !important;
  }
}

@media screen and (max-width: 620px) {
  .productcard-body {
    width: 230px !important;
  }
}

@media screen and (max-width: 520px) {
  .productcard-body {
    width: 300px !important;
  }
}
/*# sourceMappingURL=Product.css.map */