.pdctdetails {
    width: 100%;
    padding-top: 100px;
    background-color: #fff;
    .pdctdetails-flex {
        display: flex;
        justify-content: center;
        max-width: 1400px;
        margin: auto;
        img {
            width: 50%;
            object-fit: cover;
            margin-right: 10px;
        }
        .pdctdetails-content {
            width: 100%;
            margin-left: 10px;
            h1 {
                font-size: 24px;
                font-weight: 800;
                margin-bottom: 20px;
            }
            .stars {
                display: flex;
                align-items: center;
                margin-bottom: 20px;
                p {
                    margin-left: 10px;
                    color: #aaaaaa;
                    font-size: 14px;
                }
                .MuiSvgIcon-root {
                    color: #aaaaaa;
                    font-size: 19px;
                }
                .items-sold {
                    color: #f10e0e;
                    margin-left: 100px;
                    display: flex;
                    align-items: center;
                    .MuiSvgIcon-root {
                        margin-right: 5px;
                        color: #f10e0e;
                    }
                }
            }
            .vendor-info {
                margin-bottom: 20px;
                p {
                    font-size: 14px;
                }
            }
            .pdctdetails-info {
                .pdct-price {
                    font-size: 24px;
                    font-weight: 800;
                    margin-bottom: 10px;
                }
                .pdct-details {
                    font-size: 14px;
                }
            }
        }
    }
}