.productcard {
    .productcard-body {
        display: flex;
        flex-flow: column;
        justify-content: center;
        height: 100%;
        margin: 10px;
        background-color: #fff;
        box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.158);
        img {
            max-height: 200px;
        }
        .productcard-content {
            padding: 20px;
            .pcc-name {
                margin: 12px 0 8px 0;
                font-weight: 700;
                color: #333;
            }
            .pcc-description {
                font-size: 14px;
                margin-bottom: 5px;
                color: #566177;
            }
            .pcc-price {
                font-size: 17.6px;
                font-weight: 700;
            }
            .productcard-bottom {
                display: flex;
                justify-content: space-between;
            }
            .stars {
                margin-bottom: 4px;
                color: #f5bd15;
                .MuiSvgIcon-root {
                    font-size: 19px;
                }
            }
            .from {
                font-size: 14px;
                font-weight: 400;
            }
            .add-to-cart {
                background-color: transparent;
                border: none;
                cursor: pointer;
                .MuiSvgIcon-root {
                    font-size: 28px;
                }
            }
        }
    }
}