.row-items {
    max-width: 1400px;
    padding: 30px 0 0 0;
    margin: auto;
    h2 {
        font-size: 36px;
        font-weight: 800;
        margin-bottom: 20px;    
        text-align: center;
    }
    
    
    .product-line {
    .product-line-flex {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        max-width: 1400px;
        margin: auto;        
    }
    .product-line-flex::-webkit-scrollbar {
        height: 13px;
    }
    
    
}
@media screen and (max-width: 1380px) {
    .productcard-body {
        margin: 10px;
    }
    .product-line-flex {
        justify-content: center !important;
    }
}
}


