.row-items {
    max-width: 1400px;
    padding: 30px 0;
    margin: auto;
    h2 {
        margin-bottom: 15px;
    }
    .row-items-flex {
        display: flex;
        flex-flow: row nowrap;
        overflow-x: scroll;
    }
    
    .product-line {
    .product-line-flex {
        display: flex;
        flex-flow: row nowrap;
        overflow-x: scroll;
        padding-bottom: 12px;
        
    }
    .product-line-flex::-webkit-scrollbar {
        height: 13px;
    }
    
    .productcard-body {
        margin: 0 15px 0 0 !important;
    }
}
}

