.shopcategory {
  width: 100%;
  padding: 100px 0;
  margin-bottom: 30px;
  h2 {
    font-size: 28px;
    max-width: 1400px;
    margin: auto auto 40px auto;
    text-align: center;
  }
  .shopcategory-flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    max-width: 1400px;
    margin: auto;
    .shopcategory-item:hover .shopcategory-circle {
        box-shadow: 0 0 45px 0 rgba(7, 152, 255,  0.5);
    }
    .shopcategory-item {
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
h3 {
    font-size: 17px;
    margin-top: 20px;

}

      .shopcategory-circle {
        width: 200px;
        height: 200px;
        background-color: #fff;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 18px 0 rgba(7, 152, 255,  0.2);

        overflow: hidden;
        transition: all 0.5s ease;
        cursor: pointer;
        
        .img1 {
          width: 250px;
        }
        .img2 {
          width: 200px;
          margin-top: 30px;
        }
        .img3 {
          width: 215px;
        }
        .img4 {
          width: 250px;
        }
        .img5 {
          width: 200px;
          margin-right: 40px;
        }
        img {
          width: 250px;
        }
      }
    }

  }
  
}

@media screen and (max-width: 1024px) {
    .shopcategory-flex {
        flex-flow: row wrap;
        justify-content: center !important;
        h3 {
            margin-bottom: 20px;
        }
        .shopcategory-item {
            width: 300px;   
        }
    }
}

@media screen and (max-width: 520px) {
    .shopcategory {}
}

@media screen and (max-width: 420px) {
    .shopcategory-flex {
        flex-flow: column !important;
        justify-content: center;
        align-items: center;
        h3 {
            margin-bottom: 20px;
        }
    }
}