.shopcategory {
  width: 100%;
  padding: 100px 0;
  margin-bottom: 30px;
}

.shopcategory h2 {
  font-size: 28px;
  max-width: 1400px;
  margin: auto auto 40px auto;
  text-align: center;
}

.shopcategory .shopcategory-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1400px;
  margin: auto;
}

.shopcategory .shopcategory-flex .shopcategory-item:hover .shopcategory-circle {
  -webkit-box-shadow: 0 0 45px 0 rgba(7, 152, 255, 0.5);
          box-shadow: 0 0 45px 0 rgba(7, 152, 255, 0.5);
}

.shopcategory .shopcategory-flex .shopcategory-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  margin: 0 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shopcategory .shopcategory-flex .shopcategory-item h3 {
  font-size: 17px;
  margin-top: 20px;
}

.shopcategory .shopcategory-flex .shopcategory-item .shopcategory-circle {
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 18px 0 rgba(7, 152, 255, 0.2);
          box-shadow: 0 0 18px 0 rgba(7, 152, 255, 0.2);
  overflow: hidden;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
}

.shopcategory .shopcategory-flex .shopcategory-item .shopcategory-circle .img1 {
  width: 250px;
}

.shopcategory .shopcategory-flex .shopcategory-item .shopcategory-circle .img2 {
  width: 200px;
  margin-top: 30px;
}

.shopcategory .shopcategory-flex .shopcategory-item .shopcategory-circle .img3 {
  width: 215px;
}

.shopcategory .shopcategory-flex .shopcategory-item .shopcategory-circle .img4 {
  width: 250px;
}

.shopcategory .shopcategory-flex .shopcategory-item .shopcategory-circle .img5 {
  width: 200px;
  margin-right: 40px;
}

.shopcategory .shopcategory-flex .shopcategory-item .shopcategory-circle img {
  width: 250px;
}

@media screen and (max-width: 1170px) {
  .shopcategory-flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .shopcategory-flex .shopcategory-item {
    width: 300px;
  }
  .shopcategory-flex .shopcategory-item h3 {
    margin-bottom: 20px !important;
  }
}

@media screen and (max-width: 420px) {
  .shopcategory-flex {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-flow: column !important;
            flex-flow: column !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=ShopCategory.css.map */