.single-row-item {
    cursor: pointer;
    img {
        width: 185px;
        height: 130px;
        object-fit: cover;
        margin-right: 10px;

    }
    p {
        text-align: center;
        margin-top: 10px;
        font-size: 14px;
        font-weight: 600;
        font-family: 'Montserrat', sans-serif;
    }
}