* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F8F9FA;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif;
  color: #333;
}

p {
  font-family: 'Roboto', sans-serif;
  color: #333;
  line-height: 1.618;
}

a {
  font-family: 'Roboto', sans-serif;
}

.hero-button {
  background-color: transparent;
  max-width: 200p;
  color: #333;
  padding: 12px 20px;
  border: 2px solid #333;
  font-size: 19px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.618s ease;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.158), 0 2px 10px 0 rgba(0, 0, 0, 0.158);
  transform: translateY(0);
  position: relative;
  overflow:hidden;
  transition: all 0.618s ease;
}

.hero-button::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0;
  background: linear-gradient(to right, #333, #333);
  transform: scaleY(0);
  transform: scaleX(0);
  transition: all 0.38s ease;
  transform-origin: 0% 100%;
}



.hero-button:hover:before,
.hero-button:focus:before,
.hero-button:active:before {
  transform: scaleX(1.1);
}

.hero-button:hover,
.hero-button:focus,
.hero-button:active {
  color: #f1f2f5 !important;
  background-color: #333 !important;
  box-shadow: none;
}

button {
  cursor: pointer;
}
